<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.svg">
    {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $prism := resources.Get "css/prism.css" }}
    <link rel="stylesheet" href="{{ $prism.RelPermalink }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/noe-display" rel="stylesheet">
    {{ partial "seo/print.html" . }}
    {{ with .Params.forestry_instant_preview_id }}
      {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
    {{ end -}}
    <script data-goatcounter="https://2508.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
